// Fonts
$font-xlarge: 24px;
$font-large: 14px;
$font-default: 12px;

// Spacing
$space-360: 360px;
$space-323: 323px;
$space-300: 300px;
$space-180: 180px;
$space-50: 50px;
$space-45: 45px;
$space-40: 40px;
$space-20: 20px;
$space-12: 12px;
$space-10: 10px;
$space-7: 7px;

// Borders
$border-1: 1px;

// Line heights
$lineheight-14: 14px;
$lineheight-40: 40px;

//Colors
$color-white: #ffffff;
$color-black: #000000;
$grey-600: #666666;
$grey-450: #999999;
$grey-420: #b4b4b4;
$grey-400: #CDCDCD;
$grey-350: #dddddd;
$grey-300: #EDEDED;
$grey-200: #f3f3f3;
$grey-100: #f7f7f7;

$blue-100: #D9ECF1;
$blue-200: #008BBF;

$border-color: $grey-350;
$default-color: $grey-600;
$main-color: $color-black;
$placeholder-color: $grey-450;
$clickable-color: $blue-200;

$hover-background-color: $grey-200;
$selected-background-color: $grey-100;
$scroll_background: $grey-400;
$scroll_border_color: $grey-300;
$scroll_track_background: $color-white;

