@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css");

.slick-arrow {
    z-index: 100;
    transform: translate(0, -50%) scale(2);
}
.slick-prev {
    left: 20px;
}
.slick-next {
    right: 20px;
}
.slick-prev:before, .slick-next:before {
    color: rgba(255,255,255,.4);
}