@import "../../resources/globals";

.selection_status {
  height: $space-45;
  padding: 0 $space-12;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $border-color;
  justify-content: space-between;
}

.status {
  color: $main-color;
}

.clear_all {
  cursor: pointer;
  color: $clickable-color;
}