@import "../../resources/globals";

.list {
  outline: none;
  user-select: none;
  @extend .scrollbar;
}

.list_item {
  display: flex;
  flex-direction: column;
}

.scrollbar {
  &::-webkit-scrollbar {
    width: 15px;
    height: 17px;
  }
  &::-webkit-scrollbar-thumb {
    background: $scroll_background;
    border-color: transparent;
    border-style: solid;
    background-clip: content-box;
  }

  &::-webkit-scrollbar-thumb:vertical {
    min-height: 45px;
    border-width: 4px 4px 4px 5px;
  }

  &::-webkit-scrollbar-thumb:horizontal {
    min-width: 45px;
    border-width: 5px 4px 6px;
  }

  &::-webkit-scrollbar-track {
    background: $scroll_track_background;
  }

  &::-webkit-scrollbar-track:vertical {
    border-left: 1px solid $scroll_border_color;
    border-right: none;
  }

  &::-webkit-scrollbar-track:horizontal, &::-webkit-scrollbar-corner {
    border-top: 1px solid $scroll_border_color;
    border-bottom: none;
  }
}