@import "../../resources/globals";

.item {
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  cursor: pointer;
  .selected {
    background-color: $selected-background-color;
  }
  &:hover:not(.selected, .disabled) {
    background-color: $hover-background-color;
  }
}

.disabled {
  color: $disabled-color;
  cursor: default;
}

.selected {
  background-color: $selected-background-color;
}

.with_border {
  border-bottom: 1px solid $border-color;
}

.with_grouping {
  color: $color-black;
  padding-left: 10px;
}
