@import "../../resources/globals.scss";

.no_items {
  font-size: $font-large;
  color: $placeholder-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
