@import "../../resources/globals";

.selected_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 12px;
  margin-right: -4px;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: $hover-background-color;
  }
}

.with_grouping {
  @extend .selected_item;
  pointer-events: none;
  color: $color-black;
}

.with_grouping_click {
  pointer-events: auto;
}

.disabled {
  color: $disabled-color;
  background-color: $selected-background-color;
  cursor: default;
}
