@import "../../resources/globals";

$item_font_color: $grey-600;
$item_padding: $space-10;
$grouped_item_padding: $space-20;
$item_height: $space-40;
$list_font_size: $font-default;

.multi_selection_list {
  color: $item_font_color;
  border: $border-1 solid $grey-350;
  &:first-of-type {
    border-right: 0;
  }
}

.list_filter_container {
  margin-bottom: 10px;
  position: relative;
}

.search_icon {
  padding: 15px;
  padding-bottom: 0;
}

.list_box {
  position: relative;
}

.list_container {
  overflow-y: auto;
  position: relative;
  outline: none;
}

.list_item {
  width: 100%;
  height: $item_height;
  line-height: $item_height;
  padding: 0 $item_padding;
  color: $item_font_color;
  font-size: $list_font_size;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  & > div {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &.selected {
    background-color: $grey-200;
    color: $color-white;
  }

  &:hover:not(.selected) {
    background-color: $blue-100;
    color: $color-white;
  }
}

.loader_container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba($color-black, 0.5);
  top: 0;
  left: 0;
  z-index: 99;
}

.search_wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  margin-left: $space-12;
}

.select_all {
  border: $border-1 solid $grey-350;
  border-left: 0;
  border-right: 0;
  padding: 0 $space-10;
  height: $space-40;
  line-height: $lineheight-40;

  &:hover {
    background-color: $grey-200;
  }
}