@import "../../resources/globals";

.search {
    height: $space-45;
    display: flex;
    align-items: center;
    padding: 0 $space-12 0 0;
    border-bottom: 1px solid $border-color;
}

.input {
    height: $space-45;
    padding: 0 $space-12;
    display: flex;
    align-items: center;
    flex: 1;
    outline: none;
    border: 0;
    font-size: 14px;
    background: transparent;
}

.icon {
    font-size: $font-xlarge;
}

.list_filter_container {
    margin-bottom: 10px;
    position: relative;
}