@import '../../../resources/scss/globals';

$group_padding: 10px;
$group_font_color: $palette_gray_300;
$group_height: 30px;
$group_font_size: 12px;

.list_group {
  height: $group_height;
  line-height: $group_height;
  padding: 0 $group_padding;
  color: $group_font_color;
  font-size: $group_font_size;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: default;
}

.group_select_all {
  float: right;
  cursor: pointer;
  color: $palette_blue_400;
  position: relative;
  z-index: auto;
  padding-left: 5px;
}