.wrapper {
  display: flex;
  position: relative;
}

.checkbox_control {
  height: 40px;
}

.loader_container {
  position: absolute;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background-color: #ffffff;
  top: 1px;
  left: 1px;
  z-index: 99;
}

.item_icon {
  margin-right: 10px;
  font-size: 14px;
  line-height: 14px;

  &:after {
    vertical-align: middle;
  }
}

.source_list {
  width: 50%;
}

.search_wrapper {
  margin-bottom: 0;

  &:hover .search_icon {
    color: #ffffff;
  }
}

.search_input {
  border-color: #DDDDDD !important;
  border-bottom: 0;
  height: 45px;
  padding-left: 20px;
  padding-right: 35px;
}

.search_input:hover:enabled,
.search_input:active:enabled,
.search_input:focus:enabled {
  border-color: #DDDDDD !important;
}

.search_icon {
  right: 20px;
  font-size: 14px;
  line-height: 14px;
  color: #666666;
}

.source_item_common {
  input[type="checkbox"] + label {
    pointer-events: none;

    & > span {
      color: #666666;
    }
  }
}

.select_all {
  padding: 0 20px;
  height: 40px;
  line-height: 40px;

  &:hover {
    background-color: #f3f3f3;
  }
}

.source_items_wrapper {
  height: 322px;
}

.source_item {
  @extend .source_item_common;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  width: 100%;

  &:hover.selected_source_item, &:hover:not(.selected_source_item) {
    background-color: #f3f3f3;
  }

  &.selected_source_item {
    background-color: #f7f7f7;
  }

  & > span {
    width: 100%;
  }

  input[type="checkbox"] + label {
    & > span {
      overflow: hidden;
      text-overflow: ellipsis;
      height: 17px;
      line-height: 17px;
    }
  }
}

.destination_list {
  width: 50%;
}

.selected_header {
  display: flex;
  justify-content: space-between;
  border: 1px solid #DDDDDD;
  border-width: 1px 1px 0 0;
  height: 45px;
  padding: 0 20px;
  align-items: center;
  font-size: 12px;
  color: #ffffff;

  .clear_all {
    color: #666666;
    cursor: pointer;
  }
}

.dst_items_wrapper {
  height: 363px;
  border-left: 0;
}

.dst_item {
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  transition: none;

  &:hover:not(.selected_dst_item) {
    background-color: #f3f3f3;
    cursor: pointer;

    .dst_item_content {
      color: #666666;

      .remove_button {
        color: #ffffff;
      }
    }
  }

  .dst_item_content {
    display: flex;
    justify-content: space-between;

    .dst_item_text {
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 20px;
    }

    .remove_button {
      font-size: 14px;
    }
  }
}
