@import "../../../resources/globals";

$list_font_size: $font-300;
$list_width: $space-860;

.list_item {
  list-style: none;
  padding: 0;
  margin: 0;
}

.no_items {
  font-size: $list_font_size;
  font-size: $list_font_size;
  color: $grey-450;
  display: flex;
  height: 100%;
  min-width: $list_width;
  align-items: center;
  justify-content: center;
}
